@model CadastroDocumentos.Models.Documento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>Documento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            Download
        </dt>
        <dd>
            <a class="btn btn-primary mb-3" href="~/Arquivos/@Html.DisplayFor(model => model.ArquivoNome)"><span class="glyphicon glyphicon-download-alt"></span></a>
            <embed src="~/Arquivos/@Html.DisplayFor(model => model.ArquivoNome)" width="800px" height="500px" />
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
