@model IEnumerable<CadastroDocumentos.Models.Documento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Arquivo)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Codigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Titulo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Processo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Categoria)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Arquivo, new { htmlAttributes = new { @type = "file" } })
    </td>
</tr>
}

</table>
